@model WeatherGroup2.ViewModels.DetailedViewModel


<div class="card border-info">

    <div class="card-header text-center">
        <h5>6 day forecast for @Model.CityName</h5>
    </div>

    <div class="card-body">
        <table class="table text-center table-borderless table-responsive-md table-sm table-striped table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Day</th>
                    <th scope="col">Weather</th>
                    <th scope="col">Temperature Max/Min</th>
                </tr>
            </thead>
            <tbody class="justify-content-center">
                @foreach (var item in Model.DetailedInformation)
                {
                <tr>
                    <td style="text-transform: capitalize">
                        @item.Day
                        @item.Date.ToString("dd/MMM")
                    </td>
                    <td><img src="@item.WeatherIconUrl" />@item.Weather</td>
                    <td>@item.TemperatureMax/@item.TemperatureMin degrees</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>